<a href="https://colab.research.google.com/github/Dianaaleja/travel_tide_customer_segment/blob/main/Mastery_Project_TravelTide_EDA_Diana_Terraza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Start of the EDA Analysis and Data Preprocessing *Traveltide*
Objectives
1. Filter TravelTide data using Elena’s (Head of Marketing) or your own cohort definition.
2. Forming the initial extraction query which can be then used for further analysis in sheets or Python.
3. Aggregate Session, Flight, and Hotel data to the appropriate level, preserving fields that carry demographic or behavioral data, and merge the results into a single table.
4. Use an appropriate outlier definition to filter out extreme data points that might bias segmentation results.

### Import libraries

In [ ]:
import pandas as pd
import sqlalchemy as sa
import numpy as np
from datetime import datetime

In [ ]:
traveltide_url = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide"

In [ ]:
engine = sa.create_engine(traveltide_url)
engine

Engine(postgresql://Test:***@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide)

In [ ]:
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")
connection

In [ ]:
inspector = sa.inspect(engine)# checking out the tables and their names
table_names= inspector.get_table_names()
table_names

['hotels', 'users', 'flights', 'sessions']

### Convert the tables to a DataFrame

In [ ]:
hotels_df = pd.read_sql("SELECT * FROM hotels", connection)
users_df = pd.read_sql("SELECT * FROM users", connection)
flights_df = pd.read_sql("SELECT * FROM flights", connection)
sessions_df = pd.read_sql("SELECT * FROM sessions", connection)

### Previous filter user level with more than 7 Sessions after 2023-01-04 how Elena Tarrant from Marketing suggest

In [ ]:
# Filter users with more than 7 sessions after '2023-01-04'
filtered_users = (
    sessions_df[sessions_df['session_start'] > '2023-01-04']
    .groupby('user_id')
    .filter(lambda x: len(x) > 7)
    ['user_id']
    .unique()
)

# Filter sessions
filtered_sessions_df = sessions_df[sessions_df['user_id'].isin(filtered_users)]

# Calculate the duration of each session in seconds
filtered_sessions_df['session_duration'] = (
    (filtered_sessions_df['session_end'] - filtered_sessions_df['session_start']).dt.total_seconds()
)

# Left join between sessions and users
merged_df = pd.merge(filtered_sessions_df, users_df, on='user_id', how='left')

# Left join between merged_df and flights
merged_df = pd.merge(merged_df, flights_df, on='trip_id', how='left')

# Left join between merged_df and hotels
merged_df = pd.merge(merged_df, hotels_df, on='trip_id', how='left')

# Select and/or rename columns
final_df = merged_df[[
    'session_id', 'user_id', 'trip_id', 'session_start', 'session_end', 'page_clicks',
    'flight_discount', 'flight_discount_amount', 'hotel_discount', 'hotel_discount_amount',
    'flight_booked', 'hotel_booked', 'cancellation', 'session_duration', 'birthdate',
    'gender', 'married', 'has_children', 'home_country', 'home_city', 'home_airport',
    'home_airport_lat', 'home_airport_lon', 'sign_up_date', 'origin_airport', 'destination',
    'destination_airport', 'seats', 'return_flight_booked', 'departure_time', 'return_time',
    'checked_bags', 'trip_airline', 'destination_airport_lat', 'destination_airport_lon',
    'base_fare_usd', 'hotel_name', 'nights', 'rooms', 'check_in_time', 'check_out_time',
    'hotel_per_room_usd'
]]

final_df = final_df.rename(columns={'hotel_per_room_usd': 'hotel_price_per_room_night_usd'})

final_df

<ipython-input-8-701746f3cd18>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_sessions_df['session_duration'] = (

,session_id,user_id,trip_id,session_start,session_end,page_clicks,flight_discount,flight_discount_amount,hotel_discount,hotel_discount_amount,...,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_price_per_room_night_usd
0,23557-5279a8e6152e4956b2f47e56c8b65def,23557,23557-3354bee182614ec8afc585d907234203,2021-08-10 20:23:00,2021-08-10 20:25:21.000000,19,False,NaN,False,NaN,...,American Airlines,53.667,-113.467,623.25,NaN,NaN,NaN,NaT,NaT,NaN
1,94883-f0e73035db1948bd949f69cc0c8427a6,94883,None,2022-02-07 20:55:00,2022-02-07 20:55:31.000000,4,False,NaN,True,0.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
2,94883-7247d2af9bb747b7ae677317f2d4a883,94883,94883-ec080a01dde546538ca82aaca9a1e439,2022-02-08 15:55:00,2022-02-08 15:55:59.000000,8,False,NaN,False,NaN,...,Emirates,25.255,55.364,4490.77,NaN,NaN,NaN,NaT,NaT,NaN
3,101486-cd82c9a78c9545a3afe576ee74e5b2cc,101486,101486-29a51199b1a748da8c45d3d2fc9c691a,2022-02-17 20:05:00,2022-02-17 20:08:22.000000,27,True,0.10,False,NaN,...,Ryanair,28.103,-80.645,2817.01,Aman Resorts - melbourne,14.0,2.0,2022-08-05 14:13:29.955,2022-08-20 11:00:00,140.0
4,101961-2391dd86e88f4904a4bf17fef530ce47,101961,None,2022-02-17 16:29:00,2022-02-17 16:30:05.000000,9,True,0.10,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50542,609393-17fa2042385e48faac6ab20586749340,609393,609393-b92d487037ec447db1e3ddf977709a52,2023-07-21 21:02:05,2023-07-21 21:27:18.179946,25,True,NaN,True,NaN,...,Delta Air Lines,39.998,-82.892,69.88,Aman Resorts - columbus,3.0,1.0,2023-07-29 10:02:40.515,2023-08-01 11:00:00,178.0
50543,562275-67b9889219d14b96b4cbdab763e094af,562275,562275-5b2550a902f14543a77ca64eccdce8f8,2023-07-21 21:17:07,2023-07-21 23:17:07.000000,139,True,NaN,True,NaN,...,JetBlue Airways,35.214,-80.943,177.27,Marriott - charlotte,1.0,1.0,2023-07-26 13:15:01.755,2023-07-28 11:00:00,125.0
50544,591582-98ac1bd6d6824ad0b2831e9b93c50703,591582,591582-61f9e9bfb2dd461989dacc9f5b76371b,2023-07-21 10:24:10,2023-07-21 10:34:10.000000,10,True,NaN,True,NaN,...,WestJet,51.114,-114.020,523.72,Fairmont - calgary,2.0,1.0,2023-07-27 19:45:25.425,2023-07-30 11:00:00,56.0
50545,23557-213161274f634d1aba7a7b0ba13eaf8b,23557,None,2021-07-22 19:29:00,2021-07-22 19:29:23.000000,3,False,NaN,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
50546,23557-3d4ef4e62e514af48dc3b010815796cb,23557,23557-127abde78c8f4352b7a84483d2576c25,2021-07-24 09:13:00,2021-07-24 09:17:51.000000,40,True,0.15,False,NaN,...,Ryanair,43.862,-79.370,98.46,Marriott - toronto,2.0,1.0,2021-07-30 12:42:32.580,2021-08-02 11:00:00,118.0

In [ ]:
final_df

,session_id,user_id,trip_id,session_start,session_end,page_clicks,flight_discount,flight_discount_amount,hotel_discount,hotel_discount_amount,...,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_price_per_room_night_usd
0,23557-5279a8e6152e4956b2f47e56c8b65def,23557,23557-3354bee182614ec8afc585d907234203,2021-08-10 20:23:00,2021-08-10 20:25:21.000000,19,False,NaN,False,NaN,...,American Airlines,53.667,-113.467,623.25,NaN,NaN,NaN,NaT,NaT,NaN
1,94883-f0e73035db1948bd949f69cc0c8427a6,94883,None,2022-02-07 20:55:00,2022-02-07 20:55:31.000000,4,False,NaN,True,0.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
2,94883-7247d2af9bb747b7ae677317f2d4a883,94883,94883-ec080a01dde546538ca82aaca9a1e439,2022-02-08 15:55:00,2022-02-08 15:55:59.000000,8,False,NaN,False,NaN,...,Emirates,25.255,55.364,4490.77,NaN,NaN,NaN,NaT,NaT,NaN
3,101486-cd82c9a78c9545a3afe576ee74e5b2cc,101486,101486-29a51199b1a748da8c45d3d2fc9c691a,2022-02-17 20:05:00,2022-02-17 20:08:22.000000,27,True,0.10,False,NaN,...,Ryanair,28.103,-80.645,2817.01,Aman Resorts - melbourne,14.0,2.0,2022-08-05 14:13:29.955,2022-08-20 11:00:00,140.0
4,101961-2391dd86e88f4904a4bf17fef530ce47,101961,None,2022-02-17 16:29:00,2022-02-17 16:30:05.000000,9,True,0.10,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50542,609393-17fa2042385e48faac6ab20586749340,609393,609393-b92d487037ec447db1e3ddf977709a52,2023-07-21 21:02:05,2023-07-21 21:27:18.179946,25,True,NaN,True,NaN,...,Delta Air Lines,39.998,-82.892,69.88,Aman Resorts - columbus,3.0,1.0,2023-07-29 10:02:40.515,2023-08-01 11:00:00,178.0
50543,562275-67b9889219d14b96b4cbdab763e094af,562275,562275-5b2550a902f14543a77ca64eccdce8f8,2023-07-21 21:17:07,2023-07-21 23:17:07.000000,139,True,NaN,True,NaN,...,JetBlue Airways,35.214,-80.943,177.27,Marriott - charlotte,1.0,1.0,2023-07-26 13:15:01.755,2023-07-28 11:00:00,125.0
50544,591582-98ac1bd6d6824ad0b2831e9b93c50703,591582,591582-61f9e9bfb2dd461989dacc9f5b76371b,2023-07-21 10:24:10,2023-07-21 10:34:10.000000,10,True,NaN,True,NaN,...,WestJet,51.114,-114.020,523.72,Fairmont - calgary,2.0,1.0,2023-07-27 19:45:25.425,2023-07-30 11:00:00,56.0
50545,23557-213161274f634d1aba7a7b0ba13eaf8b,23557,None,2021-07-22 19:29:00,2021-07-22 19:29:23.000000,3,False,NaN,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
50546,23557-3d4ef4e62e514af48dc3b010815796cb,23557,23557-127abde78c8f4352b7a84483d2576c25,2021-07-24 09:13:00,2021-07-24 09:17:51.000000,40,True,0.15,False,NaN,...,Ryanair,43.862,-79.370,98.46,Marriott - toronto,2.0,1.0,2021-07-30 12:42:32.580,2021-08-02 11:00:00,118.0

In [ ]:
final_df.keys()

Index(['session_id', 'user_id', 'trip_id', 'session_start', 'session_end',
       'page_clicks', 'flight_discount', 'flight_discount_amount',
       'hotel_discount', 'hotel_discount_amount', 'flight_booked',
       'hotel_booked', 'cancellation', 'session_duration', 'birthdate',
       'gender', 'married', 'has_children', 'home_country', 'home_city',
       'home_airport', 'home_airport_lat', 'home_airport_lon', 'sign_up_date',
       'origin_airport', 'destination', 'destination_airport', 'seats',
       'return_flight_booked', 'departure_time', 'return_time', 'checked_bags',
       'trip_airline', 'destination_airport_lat', 'destination_airport_lon',
       'base_fare_usd', 'hotel_name', 'nights', 'rooms', 'check_in_time',
       'check_out_time', 'hotel_price_per_room_night_usd'],
      dtype='object')

In [ ]:
final_df.shape

(50547, 42)

### Change the values 0, -1, -2 to 1 in the column 'Nights':

It may be a result of human error when entering the data. For my analysis, I decided not to delete these rows and convert the negative numbers and 0 to 1, which indicates that the person at least traveled and stayed one night in the hotel with traveltide.

In [ ]:
final_df['nights']

0         NaN
1         NaN
2         NaN
3        14.0
4         NaN
         ...
50542     3.0
50543     1.0
50544     2.0
50545     NaN
50546     2.0
Name: nights, Length: 50547, dtype: float64

In [ ]:
# Replacing [-1, -2] values in column 'nights' with 1 night
final_df['nights'] = final_df['nights'].replace([-1, -2], 1)

### Filter the Sessions to the table final_df > '2023-01-04'

In [ ]:
final_filtered = final_df[final_df['session_start'] > '2023-01-04']
final_filtered

,session_id,user_id,trip_id,session_start,session_end,page_clicks,flight_discount,flight_discount_amount,hotel_discount,hotel_discount_amount,...,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_price_per_room_night_usd
1306,23557-3f6bd6be250e45959b33b808ac525df6,23557,None,2023-01-04 19:30:00,2023-01-04 19:33:53.000000,32,False,NaN,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
1307,120851-bfeb515377f44fdbbb9d9642dc0c7178,120851,None,2023-01-04 19:49:00,2023-01-04 19:49:37.000000,5,False,NaN,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
1308,149058-6718f71e85ab413394e32abf5c49f978,149058,149058-0562d645484d450b8908ae40825aaf46,2023-01-04 13:30:00,2023-01-04 13:31:57.000000,16,False,NaN,False,NaN,...,Ryanair,33.942,-118.408,461.80,Accor - los angeles,0.0,1.0,2023-01-09 15:38:38.175,2023-01-10 11:00:00,206.0
1309,229108-d2b0f9bc7aea425189cb943fa1706810,229108,None,2023-01-04 20:44:00,2023-01-04 20:45:29.000000,12,True,0.2,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
1310,264470-71e8f4d269aa44308aa34ffd1c2d0c18,264470,None,2023-01-04 22:50:00,2023-01-04 22:50:59.000000,8,False,NaN,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50540,589228-c82de5b13d8d4739aeb90e2ca924d2e0,589228,589228-7cbd8bd73eed4c549a0074919e71fdc8,2023-07-20 21:01:17,2023-07-20 21:45:04.905844,43,True,NaN,True,NaN,...,United Airlines,35.393,-97.601,314.29,Rosewood - oklahoma city,3.0,1.0,2023-07-27 11:22:57.855,2023-07-30 11:00:00,137.0
50541,671151-fa865fb0bf8249aeb164408b470322d2,671151,671151-a25acb9062764a168fbd4286d15d57fd,2023-07-24 17:45:47,2023-07-24 18:09:14.839854,23,True,NaN,True,NaN,...,JetBlue Airways,40.640,-73.779,414.03,NaN,NaN,NaN,NaT,NaT,NaN
50542,609393-17fa2042385e48faac6ab20586749340,609393,609393-b92d487037ec447db1e3ddf977709a52,2023-07-21 21:02:05,2023-07-21 21:27:18.179946,25,True,NaN,True,NaN,...,Delta Air Lines,39.998,-82.892,69.88,Aman Resorts - columbus,3.0,1.0,2023-07-29 10:02:40.515,2023-08-01 11:00:00,178.0
50543,562275-67b9889219d14b96b4cbdab763e094af,562275,562275-5b2550a902f14543a77ca64eccdce8f8,2023-07-21 21:17:07,2023-07-21 23:17:07.000000,139,True,NaN,True,NaN,...,JetBlue Airways,35.214,-80.943,177.27,Marriott - charlotte,1.0,1.0,2023-07-26 13:15:01.755,2023-07-28 11:00:00,125.0
50544,591582-98ac1bd6d6824ad0b2831e9b93c50703,591582,591582-61f9e9bfb2dd461989dacc9f5b76371b,2023-07-21 10:24:10,2023-07-21 10:34:10.000000,10,True,NaN,True,NaN,...,WestJet,51.114,-114.020,523.72,Fairmont - calgary,2.0,1.0,2023-07-27 19:45:25.425,2023-07-30 11:00:00,56.0

In [ ]:
final_filtered.shape

(49211, 42)

In [ ]:
final_filtered.keys()

Index(['session_id', 'user_id', 'trip_id', 'session_start', 'session_end',
       'page_clicks', 'flight_discount', 'flight_discount_amount',
       'hotel_discount', 'hotel_discount_amount', 'flight_booked',
       'hotel_booked', 'cancellation', 'session_duration', 'birthdate',
       'gender', 'married', 'has_children', 'home_country', 'home_city',
       'home_airport', 'home_airport_lat', 'home_airport_lon', 'sign_up_date',
       'origin_airport', 'destination', 'destination_airport', 'seats',
       'return_flight_booked', 'departure_time', 'return_time', 'checked_bags',
       'trip_airline', 'destination_airport_lat', 'destination_airport_lon',
       'base_fare_usd', 'hotel_name', 'nights', 'rooms', 'check_in_time',
       'check_out_time', 'hotel_price_per_room_night_usd'],
      dtype='object')

### Fill the NaN values to O Zero

In [ ]:
final_filtered = final_filtered.fillna(0)
final_filtered .keys()

Index(['session_id', 'user_id', 'trip_id', 'session_start', 'session_end',
       'page_clicks', 'flight_discount', 'flight_discount_amount',
       'hotel_discount', 'hotel_discount_amount', 'flight_booked',
       'hotel_booked', 'cancellation', 'session_duration', 'birthdate',
       'gender', 'married', 'has_children', 'home_country', 'home_city',
       'home_airport', 'home_airport_lat', 'home_airport_lon', 'sign_up_date',
       'origin_airport', 'destination', 'destination_airport', 'seats',
       'return_flight_booked', 'departure_time', 'return_time', 'checked_bags',
       'trip_airline', 'destination_airport_lat', 'destination_airport_lon',
       'base_fare_usd', 'hotel_name', 'nights', 'rooms', 'check_in_time',
       'check_out_time', 'hotel_price_per_room_night_usd'],
      dtype='object')

In [ ]:
final_filtered

,session_id,user_id,trip_id,session_start,session_end,page_clicks,flight_discount,flight_discount_amount,hotel_discount,hotel_discount_amount,...,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_price_per_room_night_usd
1306,23557-3f6bd6be250e45959b33b808ac525df6,23557,0,2023-01-04 19:30:00,2023-01-04 19:33:53.000000,32,False,0.0,False,0.0,...,0,0.000,0.000,0.00,0,0.0,0.0,0,0,0.0
1307,120851-bfeb515377f44fdbbb9d9642dc0c7178,120851,0,2023-01-04 19:49:00,2023-01-04 19:49:37.000000,5,False,0.0,False,0.0,...,0,0.000,0.000,0.00,0,0.0,0.0,0,0,0.0
1308,149058-6718f71e85ab413394e32abf5c49f978,149058,149058-0562d645484d450b8908ae40825aaf46,2023-01-04 13:30:00,2023-01-04 13:31:57.000000,16,False,0.0,False,0.0,...,Ryanair,33.942,-118.408,461.80,Accor - los angeles,0.0,1.0,2023-01-09 15:38:38.175000,2023-01-10 11:00:00,206.0
1309,229108-d2b0f9bc7aea425189cb943fa1706810,229108,0,2023-01-04 20:44:00,2023-01-04 20:45:29.000000,12,True,0.2,False,0.0,...,0,0.000,0.000,0.00,0,0.0,0.0,0,0,0.0
1310,264470-71e8f4d269aa44308aa34ffd1c2d0c18,264470,0,2023-01-04 22:50:00,2023-01-04 22:50:59.000000,8,False,0.0,False,0.0,...,0,0.000,0.000,0.00,0,0.0,0.0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50540,589228-c82de5b13d8d4739aeb90e2ca924d2e0,589228,589228-7cbd8bd73eed4c549a0074919e71fdc8,2023-07-20 21:01:17,2023-07-20 21:45:04.905844,43,True,0.0,True,0.0,...,United Airlines,35.393,-97.601,314.29,Rosewood - oklahoma city,3.0,1.0,2023-07-27 11:22:57.855000,2023-07-30 11:00:00,137.0
50541,671151-fa865fb0bf8249aeb164408b470322d2,671151,671151-a25acb9062764a168fbd4286d15d57fd,2023-07-24 17:45:47,2023-07-24 18:09:14.839854,23,True,0.0,True,0.0,...,JetBlue Airways,40.640,-73.779,414.03,0,0.0,0.0,0,0,0.0
50542,609393-17fa2042385e48faac6ab20586749340,609393,609393-b92d487037ec447db1e3ddf977709a52,2023-07-21 21:02:05,2023-07-21 21:27:18.179946,25,True,0.0,True,0.0,...,Delta Air Lines,39.998,-82.892,69.88,Aman Resorts - columbus,3.0,1.0,2023-07-29 10:02:40.515000,2023-08-01 11:00:00,178.0
50543,562275-67b9889219d14b96b4cbdab763e094af,562275,562275-5b2550a902f14543a77ca64eccdce8f8,2023-07-21 21:17:07,2023-07-21 23:17:07.000000,139,True,0.0,True,0.0,...,JetBlue Airways,35.214,-80.943,177.27,Marriott - charlotte,1.0,1.0,2023-07-26 13:15:01.755000,2023-07-28 11:00:00,125.0
50544,591582-98ac1bd6d6824ad0b2831e9b93c50703,591582,591582-61f9e9bfb2dd461989dacc9f5b76371b,2023-07-21 10:24:10,2023-07-21 10:34:10.000000,10,True,0.0,True,0.0,...,WestJet,51.114,-114.020,523.72,Fairmont - calgary,2.0,1.0,2023-07-27 19:45:25.425000,2023-07-30 11:00:00,56.0

### Add the column Age changing date format to timestamp based on the column Birthdate

In [ ]:
# Make sure the 'birthdate' column is in datetime format
final_filtered['birthdate'] = pd.to_datetime(final_filtered['birthdate'], errors='coerce')

# Calculate the current age of each user from the 'birthdate' column and add to the users table
today = pd.Timestamp.now()
final_filtered['age'] = today.year - final_filtered['birthdate'].dt.year #- ((today.month, today.day) < (users_more_than_seven['birthdate'].dt.month, users_more_than_seven['birthdate'].dt.day))
final_filtered

,session_id,user_id,trip_id,session_start,session_end,page_clicks,flight_discount,flight_discount_amount,hotel_discount,hotel_discount_amount,...,destination_airport_lat,destination_airport_lon,base_fare_usd,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_price_per_room_night_usd,age
1306,23557-3f6bd6be250e45959b33b808ac525df6,23557,0,2023-01-04 19:30:00,2023-01-04 19:33:53.000000,32,False,0.0,False,0.0,...,0.000,0.000,0.00,0,0.0,0.0,0,0,0.0,66
1307,120851-bfeb515377f44fdbbb9d9642dc0c7178,120851,0,2023-01-04 19:49:00,2023-01-04 19:49:37.000000,5,False,0.0,False,0.0,...,0.000,0.000,0.00,0,0.0,0.0,0,0,0.0,52
1308,149058-6718f71e85ab413394e32abf5c49f978,149058,149058-0562d645484d450b8908ae40825aaf46,2023-01-04 13:30:00,2023-01-04 13:31:57.000000,16,False,0.0,False,0.0,...,33.942,-118.408,461.80,Accor - los angeles,0.0,1.0,2023-01-09 15:38:38.175000,2023-01-10 11:00:00,206.0,51
1309,229108-d2b0f9bc7aea425189cb943fa1706810,229108,0,2023-01-04 20:44:00,2023-01-04 20:45:29.000000,12,True,0.2,False,0.0,...,0.000,0.000,0.00,0,0.0,0.0,0,0,0.0,26
1310,264470-71e8f4d269aa44308aa34ffd1c2d0c18,264470,0,2023-01-04 22:50:00,2023-01-04 22:50:59.000000,8,False,0.0,False,0.0,...,0.000,0.000,0.00,0,0.0,0.0,0,0,0.0,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50540,589228-c82de5b13d8d4739aeb90e2ca924d2e0,589228,589228-7cbd8bd73eed4c549a0074919e71fdc8,2023-07-20 21:01:17,2023-07-20 21:45:04.905844,43,True,0.0,True,0.0,...,35.393,-97.601,314.29,Rosewood - oklahoma city,3.0,1.0,2023-07-27 11:22:57.855000,2023-07-30 11:00:00,137.0,51
50541,671151-fa865fb0bf8249aeb164408b470322d2,671151,671151-a25acb9062764a168fbd4286d15d57fd,2023-07-24 17:45:47,2023-07-24 18:09:14.839854,23,True,0.0,True,0.0,...,40.640,-73.779,414.03,0,0.0,0.0,0,0,0.0,51
50542,609393-17fa2042385e48faac6ab20586749340,609393,609393-b92d487037ec447db1e3ddf977709a52,2023-07-21 21:02:05,2023-07-21 21:27:18.179946,25,True,0.0,True,0.0,...,39.998,-82.892,69.88,Aman Resorts - columbus,3.0,1.0,2023-07-29 10:02:40.515000,2023-08-01 11:00:00,178.0,39
50543,562275-67b9889219d14b96b4cbdab763e094af,562275,562275-5b2550a902f14543a77ca64eccdce8f8,2023-07-21 21:17:07,2023-07-21 23:17:07.000000,139,True,0.0,True,0.0,...,35.214,-80.943,177.27,Marriott - charlotte,1.0,1.0,2023-07-26 13:15:01.755000,2023-07-28 11:00:00,125.0,56
50544,591582-98ac1bd6d6824ad0b2831e9b93c50703,591582,591582-61f9e9bfb2dd461989dacc9f5b76371b,2023-07-21 10:24:10,2023-07-21 10:34:10.000000,10,True,0.0,True,0.0,...,51.114,-114.020,523.72,Fairmont - calgary,2.0,1.0,2023-07-27 19:45:25.425000,2023-07-30 11:00:00,56.0,31

### Add a Column Session Duration in Seconds

---



It simplifies the data and makes clustering results easier to interpret.
For example, "Users with average session durations of 10-20 minutes" is more meaningful than "Users with session durations of 600-1200 seconds."

In [ ]:
final_filtered['session_duration_min'] = (final_filtered['session_end'] - final_filtered['session_start']).dt.total_seconds()
final_filtered

,session_id,user_id,trip_id,session_start,session_end,page_clicks,flight_discount,flight_discount_amount,hotel_discount,hotel_discount_amount,...,destination_airport_lon,base_fare_usd,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_price_per_room_night_usd,age,session_duration_min
1306,23557-3f6bd6be250e45959b33b808ac525df6,23557,0,2023-01-04 19:30:00,2023-01-04 19:33:53.000000,32,False,0.0,False,0.0,...,0.000,0.00,0,0.0,0.0,0,0,0.0,66,233.000000
1307,120851-bfeb515377f44fdbbb9d9642dc0c7178,120851,0,2023-01-04 19:49:00,2023-01-04 19:49:37.000000,5,False,0.0,False,0.0,...,0.000,0.00,0,0.0,0.0,0,0,0.0,52,37.000000
1308,149058-6718f71e85ab413394e32abf5c49f978,149058,149058-0562d645484d450b8908ae40825aaf46,2023-01-04 13:30:00,2023-01-04 13:31:57.000000,16,False,0.0,False,0.0,...,-118.408,461.80,Accor - los angeles,0.0,1.0,2023-01-09 15:38:38.175000,2023-01-10 11:00:00,206.0,51,117.000000
1309,229108-d2b0f9bc7aea425189cb943fa1706810,229108,0,2023-01-04 20:44:00,2023-01-04 20:45:29.000000,12,True,0.2,False,0.0,...,0.000,0.00,0,0.0,0.0,0,0,0.0,26,89.000000
1310,264470-71e8f4d269aa44308aa34ffd1c2d0c18,264470,0,2023-01-04 22:50:00,2023-01-04 22:50:59.000000,8,False,0.0,False,0.0,...,0.000,0.00,0,0.0,0.0,0,0,0.0,46,59.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50540,589228-c82de5b13d8d4739aeb90e2ca924d2e0,589228,589228-7cbd8bd73eed4c549a0074919e71fdc8,2023-07-20 21:01:17,2023-07-20 21:45:04.905844,43,True,0.0,True,0.0,...,-97.601,314.29,Rosewood - oklahoma city,3.0,1.0,2023-07-27 11:22:57.855000,2023-07-30 11:00:00,137.0,51,2627.905844
50541,671151-fa865fb0bf8249aeb164408b470322d2,671151,671151-a25acb9062764a168fbd4286d15d57fd,2023-07-24 17:45:47,2023-07-24 18:09:14.839854,23,True,0.0,True,0.0,...,-73.779,414.03,0,0.0,0.0,0,0,0.0,51,1407.839854
50542,609393-17fa2042385e48faac6ab20586749340,609393,609393-b92d487037ec447db1e3ddf977709a52,2023-07-21 21:02:05,2023-07-21 21:27:18.179946,25,True,0.0,True,0.0,...,-82.892,69.88,Aman Resorts - columbus,3.0,1.0,2023-07-29 10:02:40.515000,2023-08-01 11:00:00,178.0,39,1513.179946
50543,562275-67b9889219d14b96b4cbdab763e094af,562275,562275-5b2550a902f14543a77ca64eccdce8f8,2023-07-21 21:17:07,2023-07-21 23:17:07.000000,139,True,0.0,True,0.0,...,-80.943,177.27,Marriott - charlotte,1.0,1.0,2023-07-26 13:15:01.755000,2023-07-28 11:00:00,125.0,56,7200.000000
50544,591582-98ac1bd6d6824ad0b2831e9b93c50703,591582,591582-61f9e9bfb2dd461989dacc9f5b76371b,2023-07-21 10:24:10,2023-07-21 10:34:10.000000,10,True,0.0,True,0.0,...,-114.020,523.72,Fairmont - calgary,2.0,1.0,2023-07-27 19:45:25.425000,2023-07-30 11:00:00,56.0,31,600.000000

In [ ]:
final_filtered.keys()

Index(['session_id', 'user_id', 'trip_id', 'session_start', 'session_end',
       'page_clicks', 'flight_discount', 'flight_discount_amount',
       'hotel_discount', 'hotel_discount_amount', 'flight_booked',
       'hotel_booked', 'cancellation', 'session_duration', 'birthdate',
       'gender', 'married', 'has_children', 'home_country', 'home_city',
       'home_airport', 'home_airport_lat', 'home_airport_lon', 'sign_up_date',
       'origin_airport', 'destination', 'destination_airport', 'seats',
       'return_flight_booked', 'departure_time', 'return_time', 'checked_bags',
       'trip_airline', 'destination_airport_lat', 'destination_airport_lon',
       'base_fare_usd', 'hotel_name', 'nights', 'rooms', 'check_in_time',
       'check_out_time', 'hotel_price_per_room_night_usd', 'age',
       'session_duration_min'],
      dtype='object')

## Download the final_filtered into a csv format

Steps to download to csv:
1. Import the library

In [ ]:
from google.colab import files

2. Save the file locally
3. Downloading Locally

In [ ]:
# Exporting the filtered table to a .csv file
final_filtered.to_csv('final_table_filtered.csv', index=False)
files.download('final_table_filtered.csv')

### Open the new Colab notebook to continue with the analysis :
https://colab.research.google.com/drive/1vY4VhXnuBTInqRDNmADNCJdsdpLab4vX?usp=sharing